body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 2em;
    text-align: center;
    /* background-color: #fdfff5; */
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.w3-button {
    /* padding:22px 25px !important; */
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
}

.button {
    padding:22px 25px !important;
}

.button:hover {
    border-bottom: 3px solid #333 !important;
}

.small_button {
    font-family: 'Koh Santepheap', cursive;
    font-size: 1.1rem;
}

#name {
    font-family: 'Cormorant Unicase', serif;
    font-size: 6rem;
}

#interest {
    font-family: 'Koh Santepheap', cursive;
    font-size: 1.3rem;
    color: #FF530D;
}

.self-intro {
    margin-top: 25px;
    padding: 30px 40px;
    font-family: 'Koh Santepheap', cursive;
    font-size: 1.2rem;
}

.sub {
    padding: 25px 30px;
    font-family: 'Koh Santepheap', cursive;
    font-size: 1.2rem;
}

.sub:nth-child(odd) {
    background-color: #F4F4F4;
}

.sub-sub {
    font-size:1rem;
}

.cute {
    border: 2px solid #ccc !important;
    font-size: 0.9rem !important;
    padding: 4px 10px !important;
    font-family: 'Open Sans', sans-serif !important;
}

.cute:hover {
    color: #fdfff5;
    background-color: #FF530D;
    border: none !important;
}


button {
    border: 2px solid #ccc !important;
    font-size: 0.9rem !important;
    padding: 4px 10px !important;
    font-family: 'Open Sans', sans-serif !important;
}

button:hover {
    color: #fdfff5;
    background-color: #FF530D;
    border: none !important;
}

.header {
    font-size: 1.5rem;
    font-weight: 700;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-decoration: none; 
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 1rem;
}

.footer li {
	margin-left: 0.4em;
}

.footer li a .fa {
	font-size: 2.2rem;
    color: #7A7A7B;
}

.footer li:nth-child(2) a .fa:hover {
	content: 'f09b';
	color: #333;
    transition: 0.5s;
    cursor: pointer;
}

.footer li:nth-child(3) a .fa:hover {
	content: 'f0e1';
	color: #0e76a8;
    transition: 0.5s;
    cursor: pointer;
}

.footer li:nth-child(4) a .fa:hover {
	content: 'f1b4';
	color: #053eff;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width:600px) {
    .w3-button {font-size: 1.1rem;}

    .small_button {font-size: 0.7rem;}

    #name {font-size: 4rem;}

    #interest {font-size: 1rem;}

    #intro {font-size: 1rem;}

    .header {font-size: 1rem}

    .sub {font-size: 0.8rem;}

    .sub-sub {font-size: 0.7rem;}

    /* button {font-size: 0.7rem;} unfortunately !important override @media */

    .footer {font-size: 0.9rem;}
}
