body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 2em;
    text-align: center;
    /* background-color: #fdfff5; */
    width: 100%;
    height: 100%;
    background: #F9F9F9;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#E0EBF5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    display: block;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}
  
#self-intro {
    padding: 50px 100px;
}

#background {
    padding: 50px 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

#research {
    padding: 50px 100px;
}

#publications {
    padding: 50px 100px;
}

#posters {
    padding: 50px 100px;
}

#teaching {
    padding: 50px 100px;
}

#service_and_membership {
    padding: 50px 100px;
    font-size: 1.2em;
}

b {
    color: #4876A3;
}

#intro {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.active {
    background-color: #5E9AD6;
    color: #FFF;
}

.active:hover {
    background-color: #E0EBF5;
    color: #333;
}

.table-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.table-list-sub {
    font-size:1rem;
}

.hashtag {
    border-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-bottom: 3px solid #852A42;
}

.hashtag:hover {
    color: #852A42;
    border-bottom: none;
}

.w3-button {
    /* padding:22px 25px !important; */
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
}

.button {
    padding:22px 25px !important;
}

.button:hover {
    border-bottom: 3px solid #333 !important;
}

.cute {
    border: 2px solid #ccc !important;
    font-size: 0.9rem !important;
    padding: 4px 10px !important;
    font-family: 'Open Sans', sans-serif !important;
}

.cute:hover {
    color: #fdfff5;
    background-color: #852A42;
    border: 2px solid #852A42 !important;
}

button {
    border: 2px solid #ccc !important;
    font-size: 0.9rem !important;
    padding: 4px 10px !important;
    font-family: 'Open Sans', sans-serif !important;
}

button:hover {
    color: #fdfff5;
    background-color: #FF530D;
    border: none !important;
}

.header {
    font-size: 1.5rem;
    font-weight: 700;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-decoration: none; 
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 1.1rem;
}

.footer li {
	margin-left: 0.4em;
}

.footer li a .fa {
	font-size: 2.6rem;
    color: #7A7A7B;
}

.footer li:nth-child(2) a .fa:hover {
	content: 'f09b';
	color: #00acee;
    transition: 0.5s;
    cursor: pointer;
}

.footer li:nth-child(3) a .fa:hover {
	content: 'f09b';
	color: #333;
    transition: 0.5s;
    cursor: pointer;
}

.footer li:nth-child(4) a .fa:hover {
	content: 'f0e1';
	color: #0e76a8;
    transition: 0.5s;
    cursor: pointer;
}

.footer li:nth-child(5) a .fa:hover {
	content: 'f1b4';
	color: #053eff;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width:600px) {
    #self-intro {padding: 15px 30px}

    #background {padding: 15px 30px}

    #research {padding: 15px 30px}

    #publications {padding: 15px 30px}
    
    #posters {padding: 15px 30px}

    #teaching {padding: 15px 30px}

    #service_and_membership {padding: 15px 30px}
    
    .w3-button {font-size: 1.1rem;}

    #intro {font-size: 1rem;}

    #background {font-size: 0.8rem}

    #service_and_membership {font-size: 0.8rem}

    .header {font-size: 0.8rem}

    .table-list {font-size: 0.9rem;}

    .table-list-sub {font-size: 0.7rem;}

    /* button {font-size: 0.7rem;} unfortunately !important override @media */

    .footer {font-size: 0.9rem;}
}
